body {
  margin-left: 10%;
  margin-right: 10%;
  background-color: floralwhite;
  font-family:Optima;
  font-size: 115%
}
h1   {color: maroon;}
h2   {color: green;}
h3   {color: darkcyan;}
h4   {color: green;}
p    {color: black;}
div {
  font-size: 125%;
  }
div.all {
   text-align:center
}
div.hd {
    background-color: gainsboro;

}

div.bdy {
    text-align: left
}
