body {
  margin-left: 20%;
  margin-right: 20%;
  background-color: floralwhite;
  font-family:Optima;
}
h1   {color: maroon;}
h2   {color: green;}
h3   {color: darkcyan;}
h4   {color: green;}
p    {color: black;}

div {
  font-size: 115%;
}

div.all {
   text-align:center
}
div.hd {
    background: Gainsboro;
     margin-left: 0%;
     margin-right: 0%;
}

div.bdy {
    text-align: left
}
